:root {
  --primary-color: #c20ab9;
  --secondary-color: rgb(213, 240, 189);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin-top: 100%;
}
body {
  font-family: "Montserrat";
  margin: 10px auto;
  background: rgb(241, 243, 244);
  display: block;
}

h1 {
  color: #c20ab9;
  font-size: 96px;
  display: block;
  margin-block-start: 0.2em;
  margin-block-end: 3px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: none;
}

h2 {
  font-size: 40px;
  display: block;
  margin-block-start: 2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: none;
}

h3 {
  font-size: 24px;
  opacity: 0.65;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.navigator-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigator-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid var(--primary-color);
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  text-align: center;
  display: block;
  opacity: 0.8;
}
.email-link {
  text-align: center;
  display: flex;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  justify-content: center;
  color: var(--primary-color);
}
.email-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.about-para {
  display: flex;
  margin: 30px 0;
}

p {
  background: var(--secondary-color);
  padding: 22px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
li {
  display: list-item;
}
.navbar-nav {
  list-style: none;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-left: 30px;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.mb-3 {
  margin-block-start: 0px !important;
}
.mt-5 {
  margin-top: 2.5rem !important;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.rounded {
  border-radius: 0.25rem !important;
}
